@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Dosis", sans-serif;
  width: 0 auto;
}

html,
body,
#root {
  background-color: #fff;
}

.bg-imagemHome {
  background-image: url("components/img/imageHome.png");
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem no elemento */
  /* width: 0 auto; */
}

.bg-imagemSobreNos {
  background-image: url("components/img/imageSobreNos.png");
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
  background-position: center; /* Centraliza a imagem no elemento */
  /* width: 0 auto; */
}

#tituloSobreNos{
  color: rgba(255, 255, 255, 0.90);
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 85vh;
  font-size: 4rem;
}

.PageSobreNos{
    overflow-x: hidden;
}

.PageHome{
    overflow-x: hidden;
}